@model IEnumerable<WebsiteMathTasks.Models.Task>
@{
    ViewBag.Title = "All task";
}
<a asp-action="Create">add task</a>
<form asp-action="Acc" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Acc">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Acc" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                <a asp-action="Acc" asp-route-sortOrder="@ViewData["ConditionSortParm"]">@Html.DisplayNameFor(model => model.Сondition)</a>
            </th>
            <th>
                <a asp-action="Acc" asp-route-sortOrder="@ViewData["ThemeSortParm"]">@Html.DisplayNameFor(model => model.theme)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.UserName == User.Identity.Name)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Сondition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.theme)
                    </td>

                    <td>
                        <a asp-action="Details" asp-controller="Home" asp-route-id="@item.Id">Open</a> |
                        <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.Id">Create</a> |
                        <a asp-action="Delete" asp-controller="Home" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>

            }
        }
</table>