@model WebsiteMathTasks.Models.Task
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewBag.Title = "Edit";
}
<form asp-action="edit" asp-controller="home">
    <div class="form-group">
        <label asp-for="Name" class="control-label">@localizer["Title"]</label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-floating">
        <label for="floatingTextarea2">@localizer["Description"]</label>
        <textarea asp-for="Description" class="form-control" placeholder="@localizer["Description"]" id="floatingTextarea2" style="height: 100px"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Theme" class="control-label">@localizer["Theme"]</label>
        <select name="SelectedItem" asp-items="@ViewBag.SelectItems" class="form-control"> </select>

    </div>
    <div class="form-group">
        <label asp-for="Tag" class="control-label">@localizer["Tag"]</label>
        <input type="text" asp-for="Tag" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Answer" class="control-label">@localizer["Answer"]</label>
        <input type="text" asp-for="Answer" class="form-control" />
        <span asp-validation-for="Answer" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SecondAnswer" class="control-label">@localizer["Second Answer"]</label>
        <input type="text" asp-for="SecondAnswer" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ThirdAnswer" class="control-label">@localizer["Third Answer"]</label>
        <input type="text" asp-for="ThirdAnswer" class="form-control" />
    </div>
    <div class="form-group">
        <input class="btn btn-outline-primary" role="button" type="submit" value=@localizer["submit"]  />
    </div>
</form>