@model IEnumerable<WebsiteMathTasks.Models.Task>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewBag.Title = "All tasks";
}
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            @localizer["Find by name:"] <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value=@localizer["Search"] class="btn btn-default" /> |
            <a asp-action="Index">@localizer["Back to Full List"]</a>
        </p>
    </div>
</form>
<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Details" asp-controller="Home" asp-route-id="@item.Id">@localizer["Open"]</a>
            </td>
        </tr>
    }
</table>